<div class="center">
  <h1>Page <%= @page.id%></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6"><%= image_tag @page.image_url, class:"page-image" %></div>
    <div class="col-md-6"><%= @page.text%></div>
  </div>

<div class="row">
  <%= link_to "Edit", edit_page_path(@page.id), class: "btn btn-primary btn-lg btnSubmit" %>
  <%= link_to "Delete", page_path(@page.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-lg btnSubmit" %>

  <% if @previous %>
    <%= link_to "Previous", @previous, class: "btn btn-primary btn-lg btnSubmit" %>
  <% end %>

  <% if @next %>
    <%= link_to "Next", @next, class: "btn btn-primary btn-lg btnSubmit" %>
<% end %>
</div>
</div>
