<p><%= image_tag @page.image_url, class:"page-image" %></p>

<div class="page-text">
<p><%= @page.text%></p>
</div>

<%= link_to "Edit", edit_page_path(@page.id) %>
<%= link_to "Delete", page_path(@page.id), method: :delete, data: { confirm: "Are you sure?" } %>

<% if @previous %>
  <%= link_to "Previous", @previous %>
<% end %>

<% if @next %>
  <%= link_to "Next", @next %>
<% end %>
