<h1>Librabry</h1>

<% @books.each do |book| %>
  <p><%= link_to book.title, pages_path(book.id) %></p>
  <p><%= link_to "[Delete]", book_path(book.id), method: :delete, data: { confirm: "Are you sure?"} %>
  <%= link_to "[Edit]", edit_book_path(book.id)%></p>
  <p><%= book.title %></p>
  <%= image_tag book.image_url %>
<% end %>

<%= link_to "[New Book]", new_book_path %>
