<!DOCTYPE html>
<html>
  <head>
    <title>BedTimeStories</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Chango">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  </head>



<body>
  <header>
    <h1 class="main-title"><%= link_to "Bedtime Stories", root_path %></h1>
  </header>

    <%= yield %>
  <section class="sticky-footer">
  </section>
  <footer>
      <p>&copy;2017 BedTimeStories</p>
  </footer>
</body>

</html>
